<mat-spinner *ngIf ="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
    <form [formGroup]="form" (submit)='onAddQues()'>
    <mat-form-field>
        <input 
        matInput 
        id='q' 
        name='que'
        formControlName="que"
        placeholder='Enter the question'>
    </mat-form-field><br>
    <div>
        <a mat-raised-button (click)="filepicker.click()">Select file</a>
        <input type='file' #filepicker (change)="onImagePicked($event)">
    </div>
    <div class='image-preview' *ngIf=" imagePreview!=='' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.que">
    </div>
    <mat-form-field>
        <textarea 
        matInput 
        name='ans'
        id='a' 
        formControlName="ans"
        placeholder="Enter the answer"
        >
       </textarea>
      </mat-form-field>
    <button type='submit' 
    color='primary'
     mat-raised-button >Save Question
    </button>
    <button color='warn' mat-raised-button>Cancel</button>
      </form>
</mat-card>
<p>{{newPost}}</p>